body {
	background-color: rgba(102, 0, 0, 0.8);
}

h1 {
	text-align: center;
	color: #FFFFFF;
	background-color: rgba(51, 0, 0, 0.5);
	font-size: 300%;
}

p {
	text-align: center;
	color: rgb(255,255,255);
}

.index {
	font-size: 200%;
}

.homeLink {
	font-size: 200%;
}

a:link {
	text-decoration: none;
	color: rgb(255,255,255);
}

a:hover {
	color: rgba(51, 0, 0, 0.5);
}

a:visited {
	color: rgb(255,255,255);
}


table {
	line-height: 40px;
	color: rgba(0, 0, 0, 0.7);
    border-color: rgba(0,0,0,0);
    table-layout: fixed;
	width: 100%;
}

td {
	text-align: center;
	color: rgb(255,255,255);
	border-style: solid;
	border-color: rgba(51, 0, 0, 0.5);
	border-width: 1px;
	font-family: Arial, Helvetica, sans-serif;
	width: 240px;

}

th {
	background: rgba(51, 0, 0, 0.5);
	border-color: rgba(51, 0, 0, 0.5);
    color: rgb(255,255,255);
    text-align: center;
	border-radius: 15px 15px 0px 0px;
	border-width: 1px;
	width: 240px;
}


thead>tr {
 position: relative;
 display: block;
}

tbody {
  display: block;
  height: 400px;
  overflow: auto;
  width: 100%;
}